<%# Модальное окно блокировки %>
<div class="modal fade" id="ban-modal" tabindex="-1" role="dialog" aria-labelledby="ban-modal-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ban-modal-Label"></h5>
          <span aria-hidden="true"></span>
        </button>
      </div>
        <div class="modal-body">
            Вы были заблокированы в этой комнате.
        </div>
        <div class="modal-footer" id='check-modal-footer'>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        </div>
    </div>
  </div>
</div>