<%# Модальное окно для входа в комнату, соглашение или пароль %>
<div class="modal fade" id="checkPasswordModal" tabindex="-1" role="dialog" aria-labelledby="checkPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkPasswordModalLabel">Вход в комнату</h5>
      </div>
        <div class="modal-body" id='check-room-modal'>   
        </div>
        <div class="modal-footer" id='check-modal-footer'>
        </div>
    </div>
  </div>
</div>